name: "DEPLOY REact + VIte to GitHub pages"

on:
    push:
        branches:
            - main
jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            # checkout repository
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                node-version: 18
            
            # install dependencies
            - name: Install Dependencies
              run: npm install

            # build the project
            - name: Build 
              run: npm run build
            # Deploy to github pages
            - name: Deploy with gh-pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./dist
